In [1]:
import pandas as pd

df = pd.read_csv('PETs_challenge_data.csv')

df.head()

,date,merch_category,merch_postal_code,transaction_type,amt,avg_amt
0,2019-01-01,"Utilities: Electric, Gas, Water",111971,OFFLINE,356479.929481,86387.121408
1,2019-01-01,Restaurants,111831,OFFLINE,390367.788165,2944.394681
2,2019-01-01,Grocery Stores/Supermarkets,70232,OFFLINE,475644.717857,9368.472612
3,2019-01-01,Bars/Discotheques,8700000,ONLINE,877737.646110,14428.730928
4,2019-01-01,Hospitals,70687,ONLINE,424483.463210,7001.290890

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2090000 entries, 0 to 2089999
Data columns (total 6 columns):
 #   Column             Dtype
---  ------             -----
 0   date               object
 1   merch_category     object
 2   merch_postal_code  int64
 3   transaction_type   object
 4   amt                float64
 5   avg_amt            float64
dtypes: float64(2), int64(1), object(3)
memory usage: 95.7+ MB

In [3]:
df['transcation_cnt'] = df['amt']/df['avg_amt']

df.head()

,date,merch_category,merch_postal_code,transaction_type,amt,avg_amt,transcation_cnt
0,2019-01-01,"Utilities: Electric, Gas, Water",111971,OFFLINE,356479.929481,86387.121408,4.126540
1,2019-01-01,Restaurants,111831,OFFLINE,390367.788165,2944.394681,132.579980
2,2019-01-01,Grocery Stores/Supermarkets,70232,OFFLINE,475644.717857,9368.472612,50.770786
3,2019-01-01,Bars/Discotheques,8700000,ONLINE,877737.646110,14428.730928,60.832630
4,2019-01-01,Hospitals,70687,ONLINE,424483.463210,7001.290890,60.629314

In [4]:
import pandas as pd
df = pd.read_csv('technical_phase_data.csv')

df.head()

,ID,date,merch_category,merch_postal_code,transaction_type,spendamt,nb_transactions
0,1,2019-01-01,Grocery Stores/Supermarkets,8700000,ONLINE,11238.128450,160
1,1,2019-01-01,Grocery Stores/Supermarkets,500034,ONLINE,12848.165221,183
2,2,2019-01-01,Grocery Stores/Supermarkets,110621,ONLINE,12116.165569,173
3,3,2019-01-01,Hotels/Motels,8900000,OFFLINE,7745.998879,38
4,4,2019-01-01,Restaurants,111941,OFFLINE,6927.424754,173

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4180209 entries, 0 to 4180208
Data columns (total 7 columns):
 #   Column             Dtype
---  ------             -----
 0   ID                 int64
 1   date               object
 2   merch_category     object
 3   merch_postal_code  int64
 4   transaction_type   object
 5   spendamt           float64
 6   nb_transactions    int64
dtypes: float64(1), int64(3), object(3)
memory usage: 223.2+ MB

In [6]:
# get the list of unique postal codes
postal_codes = df['merch_postal_code'].unique()

len(postal_codes)

303

In [7]:
postal_codes.sort()

postal_codes[:10]

array([ 7071, 55411, 70040, 70050, 70070, 70071, 70077, 70089, 70100,
       70150], dtype=int64)

In [8]:
import random

postal_code = {
    'segment1': [ code  for code in postal_codes if code < 110000],
    'segment2': [ code  for code in postal_codes if code >= 110000 and code < 500000],
    'segment3': [ code  for code in postal_codes if code >= 500000 and code < 7500000],
    'segment4': [ code  for code in postal_codes if code >= 7500000]
}

# Reference coordinates
reference_coords = {
    "segment1": (6.2476, -75.5658),
    "segment2": (4.7110, -74.0721),
    "segment3": (-15.7975, -47.8919),
    "segment4": (-33.4489, -70.6693)
}

# Function to generate unique coordinates
def generate_unique_coords(base_lat, base_lon, num_coords):
    coords = []
    for _ in range(num_coords):
        # Slightly vary the base coordinates
        lat_variation = random.uniform(-1.5, +1.5)
        lon_variation = random.uniform(-1.5, +1.5)
        new_lat = base_lat + lat_variation
        new_lon = base_lon + lon_variation
        coords.append((new_lat, new_lon))
    return coords

# Assign unique coordinates to each postal code
postal_code_coords = {}
for segment, codes in postal_code.items():
    base_lat, base_lon = reference_coords[segment]
    unique_coords = generate_unique_coords(base_lat, base_lon, len(codes))
    for code, coord in zip(codes, unique_coords):
        postal_code_coords[code] = coord

# Print the results
for code, coord in list(postal_code_coords.items())[:10]:
    print(f'{code}: {coord}')

7071: (7.704045942043672, -74.447260569676)
55411: (5.5993575548066365, -76.45030859513663)
70040: (6.66200019513176, -76.00597234367294)
70050: (5.483780412208719, -74.30214763440712)
70070: (7.422985297292316, -75.45123226663144)
70071: (7.515364164352852, -76.21159139852598)
70077: (5.455833736485023, -74.22595736791028)
70089: (6.559489585945278, -74.71436256327326)
70100: (7.192827552907619, -75.97313792954719)
70150: (6.133650133506552, -74.66284905151379)

In [10]:
df['Latitude'], df['Longitude'] = zip(*df['merch_postal_code'].map(postal_code_coords))

df.head()

,ID,date,merch_category,merch_postal_code,transaction_type,spendamt,nb_transactions,Latitude,Longitude
0,1,2019-01-01,Grocery Stores/Supermarkets,8700000,ONLINE,11238.128450,160,-33.800667,-69.623338
1,1,2019-01-01,Grocery Stores/Supermarkets,500034,ONLINE,12848.165221,183,-14.505520,-48.117357
2,2,2019-01-01,Grocery Stores/Supermarkets,110621,ONLINE,12116.165569,173,4.185326,-74.062829
3,3,2019-01-01,Hotels/Motels,8900000,OFFLINE,7745.998879,38,-33.743774,-71.069308
4,4,2019-01-01,Restaurants,111941,OFFLINE,6927.424754,173,4.180201,-75.496076

In [11]:
df_week = df[df['date'] == '2019-01-01']

df_week.head()

,ID,date,merch_category,merch_postal_code,transaction_type,spendamt,nb_transactions,Latitude,Longitude
0,1,2019-01-01,Grocery Stores/Supermarkets,8700000,ONLINE,11238.128450,160,-33.800667,-69.623338
1,1,2019-01-01,Grocery Stores/Supermarkets,500034,ONLINE,12848.165221,183,-14.505520,-48.117357
2,2,2019-01-01,Grocery Stores/Supermarkets,110621,ONLINE,12116.165569,173,4.185326,-74.062829
3,3,2019-01-01,Hotels/Motels,8900000,OFFLINE,7745.998879,38,-33.743774,-71.069308
4,4,2019-01-01,Restaurants,111941,OFFLINE,6927.424754,173,4.180201,-75.496076

In [ ]:
import plotly.express as px

# Improved scatter_geo plot
fig = px.scatter_geo(
    df_week,
    lat='Latitude',
    lon='Longitude',
    color='nb_transactions',
    size='spendamt',
    hover_name='merch_category',
    hover_data={'spendamt': True, 'nb_transactions': True, 'Latitude': False, 'Longitude': False},
    projection='mercator',  # Mercator projection is suitable for South America
    fitbounds="locations",
    title="Transaction Locations in South America",
    color_continuous_scale=px.colors.sequential.Plasma  # Better color scale for visual distinction
)

# Center the map around South America
fig.update_geos(
    center=dict(lat=-15.0, lon=-60.0),
    projection_scale=2.5  # Adjust the scale to zoom in on South America
)

# Display the plot
fig.show()

In [ ]:
import plotly.express as px
import pandas as pd
import ipywidgets as widgets
from IPython.display import display


# Create a date slider
date_slider = widgets.SelectionSlider(
    options=df['date'],
    description='Date:',
    disabled=False,
    continuous_update=False,
    orientation='horizontal',
    readout=True
)

# Function to update the plot based on the selected date
def update_plot(date):
    print(date)
    filtered_df = df[df['date'] == date]
    fig = px.scatter_geo(
        filtered_df,
        lat='Latitude',
        lon='Longitude',
        color='nb_transactions',
        size='spendamt',
        hover_name='merch_category',
        hover_data={'spendamt': True, 'nb_transactions': True, 'Latitude': False, 'Longitude': False},
        projection='mercator',
        title=f"Transaction Locations on {date}",
        color_continuous_scale=px.colors.sequential.Plasma
    )
    fig.update_geos(
        center=dict(lat=-15.0, lon=-60.0),
        projection_scale=2.5
    )
    fig.show()

# Display the slider and the initial plot
widgets.interactive(update_plot, date=date_slider)
display(date_slider)
update_plot(df['date'].min())

In [28]:
# give a unique number to each category
category_numbers = {category: i for i, category in enumerate(df['merch_category'].unique())}

category_numbers

{'Grocery Stores/Supermarkets': 0,
 'Hotels/Motels': 1,
 'Restaurants': 2,
 'General Retail Stores': 3,
 'Drug Stores/Pharmacies': 4,
 'Utilities: Electric, Gas, Water': 5,
 'Hospitals': 6,
 'Bars/Discotheques': 7,
 'Computer Network/Information Services': 8,
 'Airlines': 9}

In [29]:
df['category_number'] = df['merch_category'].map(category_numbers)

df.head()

,ID,date,merch_category,merch_postal_code,transaction_type,spendamt,nb_transactions,Latitude,Longitude,category_number
0,1,2019-01-01,Grocery Stores/Supermarkets,8700000,ONLINE,11238.128450,160,-33.800667,-69.623338,0
1,1,2019-01-01,Grocery Stores/Supermarkets,500034,ONLINE,12848.165221,183,-14.505520,-48.117357,0
2,2,2019-01-01,Grocery Stores/Supermarkets,110621,ONLINE,12116.165569,173,4.185326,-74.062829,0
3,3,2019-01-01,Hotels/Motels,8900000,OFFLINE,7745.998879,38,-33.743774,-71.069308,1
4,4,2019-01-01,Restaurants,111941,OFFLINE,6927.424754,173,4.180201,-75.496076,2

In [31]:
import plotly.graph_objects as go
import pandas as pd
import ipywidgets as widgets
from IPython.display import display

# Create a date slider
date_slider = widgets.SelectionSlider(
    options=df['date'],
    description='Date:',
    disabled=False,
    continuous_update=False,
    orientation='horizontal',
    readout=True
)

# Initial plot
initial_date = df['date'][0]
filtered_df = df[(df['date'] == initial_date) & (df['merch_postal_code'] >7500000)]

fig = go.FigureWidget()

scatter = go.Scattergeo(
    lat=filtered_df['Latitude'],
    lon=filtered_df['Longitude'],
    text=filtered_df['spendamt'],
    marker=dict(
        size=filtered_df['spendamt'] / 100,  # Adjust size for better visualization
        color=filtered_df['category_number'],
        colorscale='Viridis',
        colorbar=dict(title='category_number'),
        line_color='black',
        line_width=0.5,
        sizemode='area'
    ),
    hoverinfo='text'
)

fig.add_trace(scatter)

fig.update_layout(
    title_text=f'Transaction Locations on {initial_date}',
    geo=dict(
        # focus only on points 
        scope = 'world',
        projection_type='mercator',
        showland=True,
        landcolor='rgb(217, 217, 217)',
        subunitwidth=1,
        countrywidth=1,
        lonaxis=dict(range=[filtered_df['Longitude'].min() - 1, filtered_df['Longitude'].max() + 1]),
        lataxis=dict(range=[filtered_df['Latitude'].min() - 1, filtered_df['Latitude'].max() + 1])
    )
)

# Function to update the plot based on the selected date
def update_plot(date):
    filtered_df = df[(df['date'] == date) & (df['merch_postal_code'] >7500000 )]
    with fig.batch_update():
        fig.data[0].marker.size = filtered_df['spendamt'] / 100
        fig.data[0].marker.color = filtered_df['category_number']
        fig.data[0].text = filtered_df['spendamt']
        fig.layout.title.text = f'Transaction Locations on {date}'

# Display the slider and the initial plot
widgets.interactive(update_plot, date=date_slider)
display(date_slider)
display(fig)

SelectionSlider(continuous_update=False, description='Date:', options=('2019-01-01', '2019-01-01', '2019-01-01…

FigureWidget({
    'data': [{'hoverinfo': 'text',
              'lat': array([-33.80066662, -33.74377367, -34.864882  , ..., -34.91428226,
                            -32.60634318, -32.50057451]),
              'lon': array([-69.62333848, -71.06930786, -72.14582684, ..., -71.56913105,
                            -71.46591323, -69.79827351]),
              'marker': {'color': array([0, 1, 2, ..., 3, 2, 2], dtype=int64),
                         'colorbar': {'title': {'text': 'Number of Transactions'}},
                         'colorscale': [[0.0, '#440154'], [0.1111111111111111,
                                        '#482878'], [0.2222222222222222,
                                        '#3e4989'], [0.3333333333333333,
                                        '#31688e'], [0.4444444444444444,
                                        '#26828e'], [0.5555555555555556,
                                        '#1f9e89'], [0.6666666666666666,
                                        '#35b779'], [0.7777777777777778,
                                        '#6ece58'], [0.8888888888888888,
                                        '#b5de2b'], [1.0, '#fde725']],
                         'line': {'color': 'black', 'width': 0.5},
                         'size': array([112.3812845 ,  77.45998879,  65.96213195, ...,  83.15684126,
                                         65.4823536 ,  69.37435258]),
                         'sizemode': 'area'},
              'text': array([11238.12844981,  7745.99887894,  6596.21319498, ...,  8315.68412598,
                              6548.23536021,  6937.43525799]),
              'type': 'scattergeo',
              'uid': '6d9a62d6-a480-41a1-aa27-c02d0c354265'}],
    'layout': {'geo': {'countrywidth': 1,
                       'landcolor': 'rgb(217, 217, 217)',
                       'lataxis': {'range': [-35.91428226243982, -31.04555024739018]},
                       'lonaxis': {'range': [-73.15086737832868, -68.204511410662]},
                       'projection': {'type': 'mercator'},
                       'scope': 'world',
                       'showland': True,
                       'subunitwidth': 1},
               'template': '...',
               'title': {'text': 'Transaction Locations on 2019-01-01'}}
})